* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
}

.main_container {
    width: 710px;
}

/* Header */
.header_1 {
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
}

.header_2 {
    height: 40px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* body */
.body {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.profile {
    border: 2px solid black;
    width: 20%;
    margin-top: 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.container {
    border: 2px solid black;
    width: 100%;
    margin-right: 70px;
    margin-top: 10px;
    height: 110px;
}

.box {
    display: flex;
    justify-content: start;
    margin-top: 15px;
    width: 100%;
    margin-left: 20px;
}

h3 {
    margin-right: 200px;
}

.like {
    display: flex;
    justify-content: end;

}

.button {
    width: 50px;
    margin-left: 60px;
    margin-right: 0px;
    box-shadow: 2px 2px 2px black;
}

.paragraph_1 {
    margin: 20px;
}
img {
    height: 80px;
    width: 70px;
    border-radius: 50%;
}